.big-heading {
  font-family: 'Montserrat';
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
}

.title-image {
  position:absolute;
  transform: rotate(25deg);
  width: 60%;
  right: 29%;
}

#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
  .title-image {
    position: static;
    transform: rotate(0);
  }
}